<div class="section-wrapper quick-switch">
  <div class="layout-twothirds-center">
    <div class="login-password-container">
      <form id="login-form" novalidate="novalidate" method="POST">
        <div class="login-password-container-email">
          <div class="hide-when-two-factor">
            <label for="user">Email</label>
            <input type="email" name="user" id="user" tabindex="1" autocorrect="off" spellcheck="false" autocapitalize="off"
              autofocus="autofocus" placeholder="e.g., arya.stark@mail.wi.wes">

            <label for="password">Password</label>
            <input type="password" name="password" id="password" tabindex="2" placeholder="e.g., ••••••••••••"> </div>

          <input id="login" tabindex="3" type="submit" class="button button-green" value="Log In">
        </div>
      </form>
      <br>
    </div>
  </div>
</div>
