section {
  overflow: hidden;
  word-wrap: break-word;
  padding: 4em 1em;
}

.section-wrapper {
  margin: 0 auto;
  max-width: 890px;
  position: relative;
}

.layout-twothirds-center {
  display: block;
  max-width: 585px;
  margin: 0 auto;
  position: relative;
}

.quick-switch .sign-up-container {
  margin-top: 1.2em;
}

label {
  display: block;
  margin: 0 0 .4em;
}

input {
  display: block;
  margin: 0 0 1.2em;
  background: #edeff0;
  border-radius: 4px;
  border: 1px solid #cdd2d4;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: .5em;
  max-width: 440px;
  width: 100%;
}

.button {
  background: #cdd2d4;
  background: -webkit-linear-gradient(top, #cdd2d4 0, #c4c9cc 100%);
  background: linear-gradient(to bottom, #cdd2d4 0, #c4c9cc 100%);
  border-radius: .3em;
  box-shadow: 0 2px 0 #4d4d4d;
  color: #4d4d4d;
  display: inline-block;
  font-weight: bold;
  margin-bottom: .8em;
  padding: .6em 1.3em;
  position: relative;
  text-decoration: none;
  border: 0;

  background: #61bd4f;
  background: -webkit-linear-gradient(top, #61bd4f 0, #5aac44 100%);
  background: linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
  box-shadow: 0 2px 0 #3f6f21;
  color: #fff;
}


