<div class="global-header clearfix">
  <div class="global-header-section mod-left">
    <a class="global-header-section-logo" routerLink="/">
      <img alt="home" class="global-header-section-logo-image" src="../../../../assets/icons/trello-logo-white.svg"/>
    </a>
  </div>
  <div class="global-header-section mode-right">
    <a routerLink="/login" class="global-header-section-button">Login</a>
    <a routerLink="/signup" class="global-header-section-button mod-primary">Signup</a>
  </div>
</div>
