body {
  font-size: 20px;
  padding-top: 2em;
}
.global-header {
  position: fixed;
  top: 0;
  right: 0;
  height: 2em;
  left: 0;
  padding: 1em .75em;
  background-color: #0079bf;
  z-index: 100;

  &-section {
    &.mod-left {
      float: left;
    }

    &.mode-right {
      float: right;
    }

    &-logo {
      float: left;
      display: block;
      height: 2em;
      margin-right: .75em;

      &-image {
        height: 100%;
      }
    }

    &-button {
      display: inline-block;
      vertical-align: top;
      margin: 0 .25em;
      padding: .7em 1.3em;
      border-radius: .4em;
      font-size: .8em;
      line-height: 1.1em;
      text-decoration: none;
      background-color: rgba(0,0,0,0.15);
      box-shadow: 0 2px 0 rgba(0,0,0,0.3);
      color: #fff;
    }
  }
}
